$fuentePrincipal: 'Open Sans', sans-serif;
$fuenteSecundaria:'Raleway', sans-serif;
$fontColor: #004bad;
$font-color2:#FF66C4;

@mixin input{

    input{
        width: 187px;
        height: 28px;
        border-style: none;
        font-size: 20px;
        text-align: center;
        color: $fontColor;

    }

}


img{

    background-color: white;

    

}

a, h2, label{

    font-family: $fuentePrincipal;
   
    font-size: 20px;
  
    
}
a, h2{
    color: white;

}


html, body{

    width: 1366px;
    height: 768px;

}
.banner {

    background-color: $font-color2;
    width: 1042px;
    height: 111px;
    position: absolute;
    z-index: 0;
   

}




.column{

    width: 324px;
    height: 768px;
    background-color: $fontColor;
    
      
    .cajalogo{
        width: 324px;
        height: 254px;
        border-bottom: solid 1px #fff;
    
    }
    
    h2{
        
        font-size: 45px;
        margin: 0 0 0 15px;
        padding-top: 111px;
    }

    nav{
       
        width: 324px;
        height: 239px;
    }

    a{
        
        font-size: 26px;
        display: block;
        padding-top: 77px;
        margin: 0 0 0 1px;
        &:hover{
            background-color: rgba(255, 255, 255, 0.486);

        }        




    }

}



label,input{

    display:block;
    border-radius: 20px;
    color: $font-color2;
    
    

 


}


form{
    
  
    width: 1042px;
    height: 768px;
    margin-left: 324px;
    background-color:rgba(187, 187, 187, 0.219);
    position: absolute;
    top: 8px;
    
    

    .imagen{
        
        
        border-color: rgb(255, 255, 255);
        background-color: white;
        width: 224px;
        height: 224px;
        margin: 0 0 0 405px;
        
        
        
       

    }

    #imagen{
        padding-top: 10px;
        height: 35px;
        border-radius: 10px;
        background-color: rgba(173, 173, 173, 0);


        

    }

    .columna1{

        
        
        margin:100px 0 0 230px;
     
        @include input;

        .labelText{
            margin-left: 56px;

        }
        .nacionalidad{
            margin-left: 32px;

        }
        .estadoCivil{
            margin-left: 42px;

        }
        .documento{
            margin-left: 40px;

        }
    
    }
    .columna2{
        
       
        margin: -289px 0 0 620px;
        @include input;

        .celular{

            margin-left: 60px;

        }
        .mail{
            margin-left: 76px;

        }

        .direccion{
            margin-left: 52px;



        }

        .experienciaLaboral{

            margin-left: 43px;

        }

        .educacion{
            margin-left: 48px;
            

        }

    }


    .submit{
        width: 142px;
        height: 40px;
        position: absolute;
        left: 443px;
        top: 690px;
        border-style: none;
        background-color: white;



    }

}
